.shape {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid ;
  box-sizing: border-box;
}

/* Circle shape */
.shape.circle {
  border-radius: 50%;
}

/* Rectangle shape */
.shape.rectangle {
  border-radius: 10px;
}

/* Triangle shape */
.shape.triangle {
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 29px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flipped shape */
.shape.flipped {
  background-color: #4caf50;
  color: white;
  pointer-events: none;
}

.shape.triangle.flipped {
  border-bottom: 5px solid #4caf50;
  color: white;
}